<div style="color: white;" class="container">
<h1>{{ title }}</h1>
<p>Welcome to {{ title }}</p>

{{# if condition}}
  <p>The countries are present.</p>
{{else}}
  <p>The countries are not present.</p>
{{/if}}
</div>
