<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Node.js Task List App</title>

    <!-- Bootstrap core CSS -->
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../style/cover.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/alertify.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/themes/default.min.css"/>



  </head>

  <body>
    <div id="wrap">

    <div class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img style="width: 30px;" src="https://camo.githubusercontent.com/b6ba9075a54c192efc59bba53c92e7c23ec8cfe8/68747470733a2f2f63646e2e7261776769742e636f6d2f67696c626172626172612f6c6f676f732f653762316463323636366333646162653663313237366162643061373637623665626436616634332f6c6f676f732f6e6f64656a732d69636f6e2e737667" alt="" class="hide-from-cel">
                <br><br></a>
        </div>
                <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/">Home</a></li>
              <li><a href="/showSignUpPage">Update</a></li>
              <li class="active"><a href="/chartjs">Chartjs</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>


    <div class="container">
    <div class="row">
       <div class="col-lg-6">
    <div class="inner cover">
      <canvas id="myChart" width="614" height="307" class="chartjs-render-monitor" style="display: block; width: 614px; height: 307px;"></canvas>
    </div>
    </div>

    <div class="col-lg-6">
 <div class="inner cover">
   <canvas id="chartjs-4" width="614" height="307" class="chartjs-render-monitor" style="display: block; width: 614px; height: 307px;"></canvas>
 </div>
 </div>
    </div>
    </div>


    <div style="padding-top:30px;"class="container">
    <div class="row">
       <div class="col-lg-6">
    <div class="inner cover">
      <canvas id="chartjs-0" width="614" height="307" class="chartjs-render-monitor" style="display: block; width: 614px; height: 307px;"></canvas>
    </div>
    </div>

    <div class="col-lg-6">
 <div class="inner cover">
   <canvas id="chart-area" width="614" height="307" class="chartjs-render-monitor" style="display: block; width: 614px; height: 307px;"></canvas>
 </div>
 </div>
    </div>
    </div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="muted credit">Node App, by Pierre.</p>
      </div>
    </div>


  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/alertify.min.js"></script>
  <script src="/filejs"></script>

    <script>

    var graph_label = [],
        graph_data = [];
        var ctx;
        var myChart, chartjs, chartLine, chartjsa;

    $.ajax({
            url: '/usersacces',
            async: true

        })
        .done(function(data) {
            for (var i = 0, len = data[0].items.length; i < len; i++) {
                var e = data[0].items[i].nom;

                graph_label.push(e)



                var e1 = data[0].items[i].id;

                graph_data.push(e1)


            }


             ctx = document.getElementById("myChart").getContext('2d');
             myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: graph_label,
                    datasets: [{
                        label: '# of Votes',
                        data: graph_data,
                        backgroundColor: [
                            'rgb(255, 99, 132)',
                            'rgb(54, 162, 235)',
                            'rgb(255, 206, 86)',
                            'rgb(75, 192, 192)',
                            'rgb(153, 102, 255)',
                            'rgb(255, 159, 64)'
                        ],
                        borderColor: [
                            'none',
                              'none',
                              'none',
                              'none',
                              'none',
                              'none'
                        ],
                        borderWidth: 0
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });


            chartjs = new Chart(document.getElementById("chartjs-4"), {
    "type": "doughnut",
    "data": {
        "labels": graph_label,
        "datasets": [{
            "label": "My First Dataset",
            "data": graph_data,
            "backgroundColor": ["rgb(35, 123, 177)", "rgb(104, 193, 130)", "rgb(250, 213, 92)","rgb(237, 102, 71)","rgb(133, 97, 200)","rgb(255, 159, 64)"]
        }]
    }
});

 chartLine = new Chart(document.getElementById("chartjs-0"),{
                                                    "type": "line",
                                                    "data": {
                                                        "labels": graph_label,
                                                        "datasets": [{
                                                            "label": "My First Dataset",
                                                            "data": graph_data,
                                                            "fill": false,
                                                            "borderColor": "rgb(75, 192, 192)",
                                                            "lineTension": 0.1
                                                        }]
                                                    },
                                                    "options": {}
                                                });




                                                            chartjsa = new Chart(document.getElementById("chart-area"), {
                                                    "type": "pie",
                                                    "data": {
                                                        "labels": graph_label,
                                                        "datasets": [{
                                                            "label": "My First Dataset",
                                                            "data": graph_data,
                                                            "backgroundColor": ["rgb(35, 123, 177)", "rgb(104, 193, 130)", "rgb(250, 213, 92)","rgb(237, 102, 71)","rgb(133, 97, 200)","rgb(255, 159, 64)"]
                                                        }]
                                                    }
                                                });

        }).always(function() {
            console.log(1);

        });

        socket.on('message', function(message) {
          var databa = [];
          var databab = [];
          $.ajax({
                  url: '/usersacces'
              })
              .done(function(data) {
                  for (var i = 0, len = data[0].items.length; i < len; i++) {
                      var e1 = data[0].items[i].id;
                      databa.push(e1);
                      var e2 = data[0].items[i].nom;
                      databab.push(e2);
                  }
                  myChart.data.datasets[0].data = databa;
                  myChart.data.labels = databab;
                  chartjs.data.datasets[0].data = databa;
                  chartjs.data.labels = databab;
                  chartLine.data.datasets[0].data = databa;
                  chartLine.data.labels = databab;
                  chartjsa.data.datasets[0].data = databa;
                  chartjsa.data.labels = databab;

                          myChart.update();
                          chartjs.update();
                          chartLine.update();
                          chartjsa.update();
              }).always(function() {
                  console.log(1);

              });

        console.log('The server has a message for you: ' + message);
          socket.emit('messagexy', 'Merci on nas recu');
      alertify.success('The server has a message for you: ' + message);

    });







    </script>

</html>
