
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Node.js Bucket List App</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../style/cover.css" rel="stylesheet">
    <link href="../style/signin.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/alertify.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/themes/default.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
  <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/alertify.min.js"></script>
  <script src="/filejs"></script>

    <script type="text/javascript">

      $(function(){
        $('#btnSignIn').click(function(evt){
          evt.preventDefault();
          $.ajax({
            url: '/usersacces/edit/'+$("#id").val(),
            type:'POST',
            data: JSON.stringify({ nom: $("#nom").val(),nombre: $("#nombre").val(),id: $("#id").val() }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success:function(response){
              console.log(response);
              // When a client connects, we note it in the console

                  socket.emit('messagex', $("#vorname").val());
                  console.log('messagex'+ 'sent to Database');

                  socket.on('messagexyz', function(message) {
                  alertify.success('The server has a message for you: ' + message);
                  console.log('The server has a message for you: ' + message);
                  });


            },
            error:function(error){
              console.log(error);
            }
          })
        })
      })


    </script>

  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Project Node App</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="/">Home</a></li>
                  <li class="active"><a href="/showSignInPage">SignIn</a></li>
                  <li><a href="#">SignUp</a></li>
                </ul>
              </nav>
            </div>
          </div>

           <div class="inner cover">
              <form class="form-signin">
                <h2 class="form-signin-heading">Please sign up</h2>
                <label for="inputEmail" class="sr-only">Nom</label>
                <input type="text" id="nom" class="form-control" placeholder="nom du pays" required="" autofocus="">
                <label for="inputPassword" class="sr-only">nombre</label>
                <input type="text" id="nombre" class="form-control" placeholder="update nombre qui est affiche sur le Bar" required="">
                <input type="text" id="id" class="form-control" placeholder="donner le id" required="">
                <input type="text" id="vorname" class="form-control" placeholder="vorname de celui qui update" required="">

                <button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="submit">update</button>
              </form>
          </div>



          <div class="mastfoot">
            <div class="inner">
              <p>Node App, by <a href="/">Pierre</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>


  </body>
</html>
